body{
    background-image: url("hipo.png");
    background-size:cover;
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  
}


.kisa-kenar{
    margin-left: 320px;
    margin-top: 370px;
    width: 180px;  
    height: 25px;
    background-color: rgb(218, 191, 157);
    border: none;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    }

.uzun-kenar{
    width: 180px;  
    height: 25px;
    margin-left: 320px;
    background-color: rgb(218, 191, 157);
    border: none;
    border-radius: 20px;
    text-align: center;
    font-size: 16px;}

.hesapla{
    margin-left: 348px;
width: 130px;
height: 30px;
background-color: antiquewhite;
border: none;
border-radius: 20px;
}

.sonuc{
margin-left:-1060px;
    margin-top:-287px;
    color: antiquewhite;
    text-align: center;
    font-size: 27px;
} 